.auth-container {
  background-image: url(./assets/images/auth-bg.png);
  background-size: cover;
  background-position: center center;
}
.bg-overlay {
  background: linear-gradient(
    45deg,
    rgba(47, 140, 96, 0.5),
    rgba(0, 0, 0, 0.5)
  );
}
.headerContainer {
  border-radius: 1rem;
  background-image: linear-gradient(
    90deg,
    rgba(21, 128, 61, 1) 31%,
    rgba(22, 163, 74, 1) 78%
  );
  background-size: cover;
  background-position: center center;
  color: #fff;

  position: relative;
  svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.sidebarContainer .ps-sidebar-container {
  background-color: #1f263e;
  height: 100vh;
}
.sidebar-cont {
  background-color: #1f263e;
}
.sidebarContainer .ps-menu-button {
  color: #fff !important;
}
.sidebarContainer .ps-menu-button:hover {
  background-color: rgba(47, 140, 96, 0.5) !important;
}
.sidebarContainer .firstItem .ps-menu-button:hover {
  background-color: transparent !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.img-list {
  width: 50px;
}

.home-data {
  background-color: #f0ffef;
}
